%h1 Sample App Home
%p
  This is the home page for the
  %a{:href => "http://gotit.heroku.com/pages/home"} Ruby on Rails Tutorial sample application.  
= link_to "Sign up now!", '#', :class => 'signup_button round'
  