#footer
  %ul.navigation.round
    %li= link_to "About", about_path
    %li= link_to "Contact", contact_path
    %li
      %a{:href => "http://rdniller.stu.cofc.edu//"} Early Work
    %li
      %a{:href => "http://github.com/rdniller"} GitHub 